<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nomad</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/star-rating.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css"
    />
    <link rel="stylesheet" href="/css/jass.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between align-left p-2">
        <h1>
          <a href="/">Nomad</a>
        </h1>
        <nav
          class="display-flex justify-space-between align-right navbar navbar-menu text-sm"
        >
          <a href="/homepage">Homepage</a>
          {{#if logged_in}}
          {{!-- if user has profile page, add link here! --}}
          <button class="no-button" id="logout">logout</button>
            <figure class="avatar avatar-xl">
            <img src={{avatar}} alt="...">
            <i class="avatar-presence online"></i>
            </figure>
          {{else}}
            <a href="/login">Login</a>|
          {{/if}}
          <a href="/entry">Begin Entry</a>|
          <a href="/cityname">View Cities</a>|
        </nav>
      </header>
      <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="./js/rating.js"></script>
      <script src="./js/logout.js"></script>
    {{/if}}
    <script src="./js/beginEntry.js"></script>
    <script src="/js/rating.js"></script>
  </body>

</html>