    <h1>{{city.name}}</h1>

<div class="category">
    <div>Night Life</div>
    <div>Affordability</div>
    <div>Dining</div>
    <div>Transportation</div>
    <div>Activites</div>
    <div>Family Friendliness</div>
</div>
