<h1>{{cities.name}}</h1>

<div>
  <h2>Average Rating: {{cities.totalRatings.average_rating}}</h2>
</div>

<div class="category">
  <div>Night Life</div>
  <div>Affordability</div>
  <div>Dining</div>
  <div>Transportation</div>
  <div>Activites</div>
  <div>Family Friendliness</div>
</div>