<h1>{{city.name}}</h1>

<div>
  <h2>Average Rating: {{cityAverageRating}}</h2>
</div>

<div class="category">
  <div>Night Life: 
    
    {{!-- {{nightLifeCityAverage}} --}}
    </div>
  <div>Affordability</div>
  <div>Dining</div>
  <div>Transportation</div>
  <div>Activites</div>
  <div>Family Friendliness</div>
</div>