<div class = "container">
        <div class="city-entry category">
        <label>City Name:</label>
        <input class="city-input category" type="text" id="city-entry"/>
        </div>

    <div class="column category">Night Life: 
        <select class="stars col-2" id="night">
            <option class="one-star">★</option>
            <option class="two-star">★★</option>
            <option class="three-star">★★★</option>
            <option class="four-star">★★★★</option>
            <option class="five-star">★★★★★</option>
        </select>
    </div>

    <div class="column category">Affordability: 
           <select class="stars col-2" id="aff">
            <option class="one-star">★</option>
            <option class="two-star">★★</option>
            <option class="three-star">★★★</option>
            <option class="four-star">★★★★</option>
            <option class="five-star">★★★★★</option>
        </select>
   
    </div>
    <div class="column category">Dining: 
           <select class="stars col-2" id="dining">
            <option class="one-star">★</option>
            <option class="two-star">★★</option>
            <option class="three-star">★★★</option>
            <option class="four-star">★★★★</option>
            <option class="five-star">★★★★★</option>
        </select>
    </span>
    </div>
    <div class="column category">Transportation: 
           <select class="stars col-2" id="transport">
            <option class="one-star">★</option>
            <option class="two-star">★★</option>
            <option class="three-star">★★★</option>
            <option class="four-star">★★★★</option>
            <option class="five-star">★★★★★</option>
        </select>
        
    </span>
    </div>
    <div class="column category">Activites: 
           <select class="stars col-2" id="activity">
            <option class="one-star">★</option>
            <option class="two-star">★★</option>
            <option class="three-star">★★★</option>
            <option class="four-star">★★★★</option>
            <option class="five-star">★★★★★</option>
        </select>
       
    </span>
    </div>
    <div class="column category">Family Friendliness: 
           <select class="stars col-2" id="family">
            <option class="one-star">★</option>
            <option class="two-star">★★</option>
            <option class="three-star">★★★</option>
            <option class="four-star">★★★★</option>
            <option class="five-star">★★★★★</option>
        </select>
   
    </span>
    </div>

  <div class="comment category">
        <label>Leave a special comment:</label>
        <input id="entry-input" type="text" />
      </div>
</div>
</div>
</div>

  <div class="city-submit">
        <button class="btn btn-primary" type="submit"> Submit</button>

