      <div class="city-entry">
        <label>City Name:</label>
        <input class="city-input" type="text" id="city-entry"/>
      </div>


<div>
    <div>Night Life
        <div class="star">
            <i class="star-empty"></i>
            <i class="star-half"></i>
            <i class="star-filled"></i>
        </div>
    </div>
    <div class="rating large star-icon direction-rtl value-3">
   <div class="label-value">1.5</div>
    <div class="star-container">
        <div class="star">
            <i class="star-empty"></i>
            <i class="star-half"></i>
            <i class="star-filled"></i>
        </div>
        <div class="star">
            <i class="star-empty"></i>
            <i class="star-half"></i>
            <i class="star-filled"></i>
        </div>
        <div class="star">
            <i class="star-empty"></i>
            <i class="star-half"></i>
            <i class="star-filled"></i>
        </div>
    </div>
</div>
    <div>Affordability

    </div>
    <div>Dining
        <span class="rating">
        <span class="star">★</span>
    </span>
    </div>
    <div>Transportation
        <span class="rating">
        <span class="star">★</span>
    </span>
    </div>
    <div>Activites
        <span class="rating">
        <span class="star">★</span>
    </span>
    </div>
    <div>Family Friendliness
        <span class="rating">
        <span class="star">★</span>
    </span>
    </div>
</div>

  <div class="comment">
        <label>Leave a special comment:</label>
        <input class="entry-input" type="text" />
      </div>

  <div class="city-submit">
        <button class="btn btn-primary" type="submit"> Submit</button>

