      
            <div class="city-entry">
        <label>City Name:</label>
        <input class="city-input" type="text" id="city-entry"/>
    </div>

    <div class="col-12">Night Life: 
        <select class="stars" id="night">
            <option class="one-star">★</option>
            <option class="two-star">★★</option>
            <option class="three-star">★★★</option>
            <option class="four-star">★★★★</option>
            <option class="five-star">★★★★★</option>
        </select>
   
</div>

    <div class="col-12">Affordability: 
           <select class="stars" id="aff">
            <option class="one-star">★</option>
            <option class="two-star">★★</option>
            <option class="three-star">★★★</option>
            <option class="four-star">★★★★</option>
            <option class="five-star">★★★★★</option>
        </select>
   
    </div>
    <div class="col-12">Dining: 
           <select class="stars" id="dining">
            <option class="one-star">★</option>
            <option class="two-star">★★</option>
            <option class="three-star">★★★</option>
            <option class="four-star">★★★★</option>
            <option class="five-star">★★★★★</option>
        </select>
      
    </span>
    </div>
    <div class="col-12">Transportation: 
           <select class="stars" id="transport">
            <option class="one-star">★</option>
            <option class="two-star">★★</option>
            <option class="three-star">★★★</option>
            <option class="four-star">★★★★</option>
            <option class="five-star">★★★★★</option>
        </select>
        
    </span>
    </div>
    <div class="col-12">Activites: 
           <select class="stars" id="activity">
            <option class="one-star">★</option>
            <option class="two-star">★★</option>
            <option class="three-star">★★★</option>
            <option class="four-star">★★★★</option>
            <option class="five-star">★★★★★</option>
        </select>
       
    </span>
    </div>
    <div class="col-12">Family Friendliness: 
           <select class="stars" id="family">
            <option class="one-star">★</option>
            <option class="two-star">★★</option>
            <option class="three-star">★★★</option>
            <option class="four-star">★★★★</option>
            <option class="five-star">★★★★★</option>
        </select>
   
    </span>
    </div>
</div>

  <div class="comment">
        <label>Leave a special comment:</label>
        <input id="entry-input" type="text" />
      </div>

  <div class="city-submit">
        <button class="btn btn-primary" type="submit"> Submit</button>

