<h1>Are you ready to explore?</h1>

<h3>What's Most Important to You? (pick one)</h3>

<div class="category">
    <div class="night">Night Life</div>
    <div class="aff">Affordability</div>
    <div class="dining">Dining</div>
    <div class="transportation">Transportation</div>
    <div class="activity">Activites</div>
    <div class="family">Family Friendliness</div>
</div>