<div>
    {{#each cities as |city|}}
    <div>
        <h1>{{city.name}}</h1>
        <div>
            {{#each city.comments as |comment|}}
        <p>"{{comment.comment}}" - {{comment.user_id}}</p>

    {{/each}}
        </div>
        <div>
            <h2>Average Rating: {{city.totalRatings.average_rating}}</h2>
        </div>
    </div>
    {{/each}}
</div>

  <div class="flex-column justify-space-around">
        
       <button class="btn btn-primary" id="begin-entry" type="submit" onclick="window.location.href='/api/entry'">Begin Entry</button>
      </div>
      <div class="flex-column justify-space-around">
       <button class="btn btn-primary" type="button" onclick="window.location.href='/api/cities'">Explore Cities!</button>
      </div>

      <script src="../public/js/beginEntry.js"></script>