<div>
    {{#each cities as |city|}}
    <div>
        <h1>{{city.name}}</h1>
        <div>
            {{#each city.comments as |comment|}}
        <p>"{{comment.comment}}" - {{comment.user_id}}</p>

    {{/each}}
        </div>
        <div>
            <h2>Average Rating: {{city.totalRatings.average_rating}}</h2>
        </div>
    </div>
    {{/each}}
</div>